<!DOCTYPE html>
<html>
  <head>
    <title>ExperimenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- these 2 lines are to assure that bootstrap will be responsive -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<!--   </head>defer: true makes it so that Javascript loads after the html -->

  <body>
    <%= render "components/navbar" %>
    <%= yield %>
    <footer>Made with love in Barcelona</footer>
  </body>
</html>
